/* File: src/components/ui/MeasureTooltip.css
  This file contains styles for the measurement tooltips.
*/

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  opacity: 0.8;
  white-space: nowrap;
  font-size: 14px;
  cursor: default;
  user-select: none;
  border: 1px solid white;
  font-family: Arial, sans-serif;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 2px solid #b8860b;
}
.ol-tooltip-measure::before,
.ol-tooltip-static::before {
  border-top: 6px solid rgba(0, 0, 0, 0.6);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -7px;
  margin-left: -6px;
  left: 50%;
}
.ol-tooltip-static::before {
  border-top-color: #ffcc33;
}
